/*
    blue: #3692EB
    blue-bg: #E7F3FF
    dark-blue: #283E76
*/

.myFooter {
    padding: 10vh;
    background: #3692EB;
    text-align: center;
    color: white;
}


.jumbotron {
    background: #3692EB;
    color: white;
    margin-top: -20px;
}

.login-btn {
    color: #3692EB;
    width: 40%;
}

table tr {
    background-color: white;
}

body {
    margin: 0;
    padding: 0;
    background-color: #E7F3FF;
}

.margin-top {
    margin-top: 3.5rem;
}

.icon-country {
    width: 32px;
    height: 25px;
}
/*.collapse .dropdown-menu {
    z-index: 3000;
}*/
.nav-text {
    font-weight: bold;
    color: #283E76;
}

.wrapper {
    margin-top: 3.5rem;
}

.navbar {
    /*    background: linear-gradient(to left, #E7F3FF 5%, #3692EB 100%);

*/
    background-color: #3692EB;
}

.wrapper .sideMenu {
    background-color: white;
    position: fixed;
    top: 0;
    bottom: 0;
    margin: 3.5rem auto auto;
    left: 0;
    width: 12.5rem;
    transition: all ease 0.25s;
    transform: translateX(-100%);
    z-index: 1;

}

.wrapper .content {
    width: 100%;
    margin-left: 0rem;
    transition: all ease 0.25s;
}

.wrapper.active .sideMenu {
    transform: translateX(0);
}

.nav-link {
    align-items: center;
    display: block;
    white-space: nowrap;
    color: #283E76;
}

    .nav-link .icon {
        margin-right: 0.25rem;
        font-size: 1.875rem;
        vertical-align: middle;
        height: 2rem;
        width: 2rem;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        color: #283E76;
    }

    .nav-link:hover {
        color: white;
        background-color: #3692EB;
        transition: ease 0.25s;
    }



.wrapper.active .sideMenu {
    transform: translateX(0);
}

@media (min-width: 992px) {

    .wrapper .sideMenu {
        transform: translateX(0);
    }

    .wrapper .content {
        margin-left: 12.5rem;
    }

}


footer {
    z-index: 9999;
    left: 0;
    bottom: 0;
    width: 100%;
}

.pointer {
    cursor: pointer;
}
.line-through {
    text-decoration: line-through;
}
